@page
@model UltraCoolBooks.Pages.Admin.Book.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "../_LayoutAdmin.cshtml";
}

<h1>Books</h1>

<p>
    <a class="btn btn-success" asp-page="Create">New Book</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                Book Status
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Book)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @if(item.Description.Length > 100)
                    {
                        string description = item.Description.Substring(0, 99);
                        description = description + "...";
                        @description
                    }
                    else
                    {
                        @item.Description
                    }
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ISBN)
                </td>
                <td>
                    
                    @if (!String.IsNullOrEmpty(item.ImagePath.ToString()))
                    {
                        <div class="d-flex flex-column">
                            <img src="~/images/book-images/@item.ImagePath" style="width:50px;height:auto;" alt="@item.Title" />
                        </div>
                    }
                </td>

                <td>
                    
                    @if(item.isDeleted == true)
                    {

                        <p><i class="bi bi-exclamation-octagon book-icon-red book-icon-size"></i> Deleted</p>
                        
                    }
                    else
                    {

                        <p><i class="bi bi-journal-check book-icon-green book-icon-size"></i> Active</p>
                    }
                    
                    
                </td>
                <td>
                    @item.Created.ToShortDateString()
                </td>
                <td>
                    @item.ReleaseDate.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.BookId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.BookId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.BookId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
