@page
@model SuperCoolBooks.Pages.Admin.Genre.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "../_LayoutAdmin.cshtml";
}

<h1>Genres</h1>

<p>
    <a class="btn btn-success" asp-page="Create">New Genre</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Genre[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre[0].Created)
            </th>
            <th>
                Books in Genre
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Genre)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>@item.BookGenres.Count()</td>

                @{
                    if (item.Title.ToLower() == "other")
                    {
                        <td> <a asp-page="./Details" asp-route-id="@item.GenreId">Details</a></td>
                    }

                    else
                    {
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.GenreId">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.GenreId">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.GenreId">Delete</a>
                        </td>
                    }
                }

            </tr>
        }
    </tbody>
</table>
