@page
@model UltraCoolBooks.Pages.Books.IndexModel
@inject SignInManager<UltraCoolUser> SignInManager


@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>
@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-page="/Admin/Book/Create">Create New</a>
    </p>
}

@*<div class="container">
    <div class="row mb-4 fw-bold fs-6">
        <div class="col">
            @Html.DisplayNameFor(model => model.Book[0].Title)
        </div>
        <div class="col-2">
            @Html.DisplayNameFor(model => model.Book[0].Description)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.Book[0].ISBN)
        </div>
        <div class="col">
            Cover
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.Book[0].ReleaseDate)
        </div>
        @if (User.IsInRole("Administrator"))
        {
            <div class="col">
                @Html.DisplayNameFor(model => model.Book[0].isDeleted)
            </div>
            <div class="col-2">
                @Html.DisplayNameFor(model => model.Book[0].Created)
            </div>

            <div class="col-2">
                @Html.DisplayNameFor(model => model.Book[0].User)
            </div>

            <div class="col"></div>
        }
       

    </div>

    @foreach (var item in Model.Book)
    {
        <div class="row" onclick="window.location='/Books/Details?id=@item.BookId'">

            <div class="col">
                @Html.DisplayFor(modelItem => item.Title)
            </div>
            <div class="col-2">
                @Html.DisplayFor(modelItem => item.Description)
            </div>
            <div class="col">
                @Html.DisplayFor(modelItem => item.ISBN)
            </div>
            <div class="col">
                <img src="~/images/book-images/@item.ImagePath" style="height:150px;" />

            </div>
            <div class="col">
                @item.ReleaseDate.ToShortDateString()
            </div>
            @if (User.IsInRole("Administrator"))
            {
                <div class="col">
                    @Html.DisplayFor(modelItem => item.isDeleted)
                </div>
                <div class="col-2">
                    @item.Created.ToShortDateString()
                </div>

                <div class="col-2">
                    @Html.DisplayFor(modelItem => item.User.Email)
                </div>
                <div class="col">
                    <a asp-page="/Admin/Book/Edit" asp-route-id="@item.BookId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.BookId">Details</a> |
                    <a asp-page="/Admin/Book/Delete" asp-route-id="@item.BookId">Delete</a>
                </div>
            }


        </div>
    }

</div>*@

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].ISBN)
            </th>
            <th>
                Cover
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].ReleaseDate)
            </th>
            @if (User.IsInRole("Administrator"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Book[0].isDeleted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Book[0].Created)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Book[0].User)
                </th>
                <th></th>
            }

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Book)
        {
            <tr class="" style="cursor:pointer" onclick="window.location='/Books/Details?id=@item.BookId'">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ISBN)
                </td>
                <td>
                    <img src="~/images/book-images/@item.ImagePath" style="height:150px;" />

                </td>
                <td>
                    @item.ReleaseDate.ToShortDateString()
                </td>
                @if (User.IsInRole("Administrator"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.isDeleted)
                    </td>
                    <td>
                        @item.Created.ToShortDateString()
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.User.Email)
                    </td>
                    <td>
                        <a asp-page="/Admin/Book/Edit" asp-route-id="@item.BookId">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.BookId">Details</a> |
                        <a asp-page="/Admin/Book/Delete" asp-route-id="@item.BookId">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
